header {
	width: 800px;
	height: 200px;
	border: 2px solid red;
}
nav {
	width: 100px;
	height: 400px;
	border: 2px solid orange;
	display: inline-block;
	margin-bottom: 0;
}
section {
	width: 700px;
	height: 400px;
	border: 2px solid orange;
	display: inline-block;
	margin-bottom: 0;
}
footer {
	width: 800px;
	height: 200px;
	border: 2px solid grey;
	margin-top: 0;
}